.progress-info__text {
	margin: 0 0 .75rem;
	text-align: right;
	font-size: 90%;
}

.progress-info__meter {
	overflow: hidden;
	background: $darkblue;
	//border: 1px solid $medblue;
	border-radius: 1em;
}

.progress-info__bar {
	height: 8px;
	background-color: $coral;
	border-radius: inherit;
	//background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 8px, lighten($coral, 5%) 8px, lighten($coral, 5%) 16px);
	//background-image:         repeating-linear-gradient(90deg, transparent, transparent 16px, lighten($coral, 5%) 16px, lighten($coral, 5%) 32px);
}