// Variables.

// Colors

$darkblue: #2c405d;
$medblue: lighten($darkblue, 5%);

$coral: desaturate(#fa4b5f, 10%);

$grey: #d3d3d3;

// Properties.
$greyborder: 1px solid $grey;

// Values
$base-line-height: 1.25em;